@model NewwProject.Models.OrdersFp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrdersFp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandcraftFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandcraftFkNavigation.Descriptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFkNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HandcraftFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HandcraftFkNavigation.Handcraft)
                </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.HandcraftFkNavigation.Descriptions)
                    </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.HandcraftFkNavigation.Price)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFkNavigation.FirstName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@