@model IEnumerable<NewwProject.Models.HomeFp>

@{
    Layout = "~/Views/_admin.cshtml";
}
@*<style>
    .footer {
   position: fixed;
   bottom: 10px;
   text-align: center;
}*@
</style>

<br /><br />


<a class="btn btn-success" asp-action="Create">Create New</a>
<br /><br />
<div class="row column1">

    @foreach (var item in Model)
    {


             <div class="col-md-6 col-lg-4">
                <div class="full white_shd margin_bottom_30">
                   <div class="info_people" style="min-height:300px;max-height:300px">
                      <div class="p_info_img">
                             <img src=@Url.Content("~/Images/" + item.Photo1) asp-append-version="true" />
                      </div>
                      <div class="user_info_cont">
                         <h4>@item.Homeparagraph1</h4>
                         <h6>@item.Homeparagraph2</h6>
                         <h6>@item.Homeparagraph3</h6>
                         <h6>@item.Footerparagraph2</h6>
                         <h6>@item.Footerparagraph3</h6>
                         <h6>@item.Location1</h6>
                         <h6>@item.Location2</h6>
                         <h6>@item.Email</h6>
                      </div>
                               <a asp-action="Edit" class="btn btn-success" style="height:37px;margin-left:5px" asp-route-id="@item.HomeId">Edit</a> 
                           <br>
                    @*                             <a asp-action="Details" class="btn btn-success" style="height:37px;margin-left:5px"  asp-route-id="@item.CategoryId">Details</a> 
*@                     <br>
                              <a asp-action="Delete" class="btn btn-success" style="height:37px;margin-left:5px"  asp-route-id="@item.HomeId">Delete</a>
                   </div>

                </div>
             </div>
    }
</div>
@*<a class="btn btn-success" asp-action="Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Home paragraph 1
            </th>
            <th>
                Home paragraph 2
            </th>
            <th>
                Home paragraph 3
            </th>
            <th>
                Location 1
            </th>
            <th>
                Location 2
            </th>
            <th>
                Email
            </th>
            <th>
                Photo 
            </th>
           
            <th>
                Footer paragraph 2
            </th>
            <th>
                Footer paragraph 3
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Homeparagraph1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homeparagraph2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homeparagraph3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                       <img src=@Url.Content("~/Images/" + item.Photo1) asp-append-version ="true" style="border-radius:20%;" width="60" height="60" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Footerparagraph2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Footerparagraph3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HomeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HomeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HomeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@