@model IEnumerable<NewwProject.Models.AboutusFp>
@{
    ViewData["Title"] = "About1";
    Layout = "~/Views/Shared/_homevisitor.cshtml";
}


<div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                                <img class="img-fluid" src=@Url.Content("~/Images/"+@ViewBag.about.Photo1) asp-append-version="true"> <!---------------------------------- حط صورة هون--> 
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">@ViewBag.about.Homeparagraph1</div> 

                        <h5 class="mb-4">@ViewBag.about.Homeparagraph2</h5>
                        <div class="row g-3 mb-4">
                    @*   @foreach(var item in Model)
                            {*@
                            <div class="col-12 d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="ms-4">
                                    <h6>@ViewBag.about.Location1</h6> 
                                    <span>@ViewBag.about.Location2</span> 
                                                            <p class="mb-4">@ViewBag.about.Homeparagraph3</p>

                                </div>
                            </div>
                    @*}*@
                        </div>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" asp-action="Index1" asp-controller="Home">Go To Home Page</a>
                    </div>
                </div>
            </div>
        </div>

