@model IEnumerable<NewwProject.Models.ConmsgFp>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Msg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Msg)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
